////////////////////////////////////////////////////////////////////////////////
// Breakpoints
////////////////////////////////////////////////////////////////////////////////

$screen-xxs-min:		320px;
$screen-xs-min:			480px;
$screen-sm-min:			768px;
$screen-md-min:			992px;
$screen-lg-min:			1200px;
$screen-xl-min:			1600px;

////////////////////////////////////////////////////////////////////////////////
// Colors
////////////////////////////////////////////////////////////////////////////////

$white:           #ffffff;
$black:           #333333;
$blue:            #003e7e;
$blue-hover:      #04274c;
$blue-light:      #7fb4d0;
$blue-vlight:	    #dce7f0;
$grey:            #a7a9ac;
$grey-light:      #d3d4d5;
$grey-vlight:     #f3f5f6;

////////////////////////////////////////////////////////////////////////////////
// General styles
////////////////////////////////////////////////////////////////////////////////

body {
  display: flex;
	min-height: 100vh;
	flex-direction: column;
  color: $black;
}

.root {
	flex: 1;
  display: flex;
}

.App {

	flex: 1;
  display: flex;
  min-height: 100vh;
	flex-direction: column;

}

a {
  color: $blue;

  &:hover,
  &:focus {
    color: $blue-hover;
    text-decoration: none;
  }

}

h1 {
  color: $blue;
}

h2 {
  color: $blue;
  font-size: 2em;
  margin-bottom: 24px;
}

header {
  background: $blue-vlight;
  padding: 20px 0;
}

main {
	flex: 1;
}

section {
  border-bottom: 1px $grey-light solid;
  padding: 24px 0;

  &:last-child {
    border-bottom: none;
  }

  &.posts {
    padding-bottom: 48px;
  }

  &.create-post {

  }

}

.categories {

  margin-bottom: 0;
  text-align: center;

  li {
    display: inline-block;
    list-style-type: none;
    margin: 0 24px;
  }

}

.post {
  margin-bottom: 16px;
  border-bottom: 1px $grey-vlight solid;
  padding-bottom: 32px;

  &:last-child {
    border-bottom: none;
  }

  h2 {
    display: inline-block;
  }
}

.sort {
  float: right;
  margin: 16px 0;

}

.excerpt {
  margin: 16px 0;
}

.post-meta {
  padding: 12px 0 8px 0;
  font-size: 0.9em;
  font-weight: 700;

  span {
    margin-right: 18px;
  }
}

input[type="text"],
textarea,
select {
  padding: 0 20px;
  width: 100%;
  height: 40px;
  border: 1px $grey solid;
}

textarea {
  height: 200px;
  padding: 16px 20px;
}

select {
  padding-left: 16px;
  padding-right: 16px;
}

.field {
  margin-bottom: 16px;
}

.comments {

}

.score {

  label {
    margin-right: 8px;
    text-transform: lowercase;
  }

  input[type="number"] {
    width: 50px;
    padding-left: 4px;
    font-weight: 400;
  }

}

.entry {
  margin-top: 24px;
  padding: 24px 0;
  border-bottom: 1px $grey-vlight solid;
  border-top: 1px $grey-vlight solid;
}

.comments {
  margin-top: 24px;
}

footer {
  margin-top: 48px;
  text-align: center;
  background: $blue-vlight;
  padding: 20px 0;

  p {
    margin-bottom: 0;
  }
}
