body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  color: #333333; }

.root {
  flex: 1;
  display: flex; }

.App {
  flex: 1;
  display: flex;
  min-height: 100vh;
  flex-direction: column; }

a {
  color: #003e7e; }
  a:hover, a:focus {
    color: #04274c;
    text-decoration: none; }

h1 {
  color: #003e7e; }

header {
  background: #dce7f0;
  padding: 20px 0; }

main {
  flex: 1; }

section {
  border-bottom: 1px #d3d4d5 solid;
  padding: 24px 0; }
  section:last-child {
    border-bottom: none; }
  section.posts {
    padding-bottom: 48px; }
  section.create-post {
    text-align: center; }

.categories {
  margin-bottom: 0;
  text-align: center; }
  .categories li {
    display: inline-block;
    list-style-type: none;
    margin: 0 24px; }

.post {
  margin-bottom: 16px;
  border-bottom: 1px #f3f5f6 solid;
  padding-bottom: 32px; }
  .post:last-child {
    border-bottom: none; }

.sort {
  float: right;
  margin: 16px 0; }

.excerpt {
  margin: 16px 0; }

.post-meta {
  padding: 12px 0 8px 0;
  font-size: 0.9em;
  font-weight: 700; }
  .post-meta span {
    margin-right: 32px; }

.score label {
  margin-right: 8px; }

.score input[type="number"] {
  width: 50px;
  padding-left: 4px;
  font-weight: 400; }

footer {
  margin-top: 48px;
  text-align: center;
  background: #dce7f0;
  padding: 20px 0; }
  footer p {
    margin-bottom: 0; }
